<p>
  <%= link_to "New section", new_resource_path, :remote => true, :class => "button blue wide bigrounded" %>
</p>

<% if collection.empty? %>
  No <%= resource_class.to_s.pluralize %>.
<% else %>
  <ol class="sortable">
    <% collection.roots.each do |section| %>
      <%= render :partial => 'section', :layout => 'list_item', :locals => { :section => section } %>
    <% end %>
  </ol>
<% end %>
